<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular SM</span>
  <span class="header-spacer"></span>
  <button
    mat-icon-button
    class="header-icon"
    aria-label="Icon-button with email icon"
  >
    <mat-icon>email</mat-icon>
  </button>
  <button
    mat-icon-button
    class="header-icon"
    aria-label="Icon-button with notifications icon"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <button
    mat-icon-button
    class="header-icon"
    aria-label="Icon-button with account icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
