<div class="posts-feed" id="#posts-feed" #list>
  <ng-container *ngIf="infinite | async as posts">
    <cdk-virtual-scroll-viewport
      [itemSize]="itemSize"
      (scrolledIndexChange)="nextBatch($event, posts[posts.length - 1].id)"
    >
      <app-post
        *cdkVirtualFor="let post of posts; let i = index; trackBy: trackByIdx"
        [post]="post"
      ></app-post>
      <mat-spinner class="spinner" *ngIf="theEnd"></mat-spinner>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
