.main {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;

  .side-info-container {
    padding-top: 14px;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 3fr 7fr;

    .side-info-container {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 10fr;

    .side-info-container {
      display: none;
    }

    .navigation-container {
      display: none;
    }
  }
}
