<mat-card class="post-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="post-card__image"
      [ngStyle]="{
        'background-image': 'url(' + post?.thumbnailUrl?.toString() + ')'
      }"
    ></div>
    <mat-card-title>{{ post?.title?.slice(0, 7) }}</mat-card-title>
    <mat-card-subtitle>{{ post?.title?.slice(7, 12) }}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container">
    <img
      mat-card-image
      style="margin-top: 0 !important"
      [src]="'https://picsum.photos/seed/' + post?.url?.slice(-6) + '/502/502'"
    />
  </div>
  <mat-card-content>
    <p>
      {{ post?.title }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      [color]="liked ? 'accent' : 'primary'"
      (click)="liked = !liked"
    >
      <mat-icon>{{ liked ? "favorite" : "favorite_border" }}</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>chat_bubble_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
